html{
	scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111111;
    color: #fff;
    display: flex;
    justify-content: center;
}
h1 {
    color: #b65506;
}
p {
    margin: 0px;
}
ul {
    padding: 20px;
    margin: 0px;
}
li {
    list-style: none;
}
ul li input[type="text"] {
    width: 80px;
}

li p {
    text-align: left;
    background-color: #363636;
}

/* TITLE  */
.title {
    display: flex;
}

/* OTERS  */
.mainContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
}
.contenedor {
    border: 2px solid gray;
    padding: 5px;
    text-align: center;
    border-radius: 12px;
    margin: 3px;
    background-color: #222222;
}
.marcador {
    width: 50px;
}
.containerTitle {
    font-weight: bolder;
    position: relative;
    top: 0;
    margin: 5px;
}
.emptyCamp {
    width: 30px;
}
.ocultar {
    display: none;
}

/* STATS  */
.skillsContainer {
    display: flex;
    width: auto;
    min-width: 500px;
}
.stats {
    width: 33%;
    height: 80px;
}
.statsInput {
    height: 40px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 0px;
    margin: 0px;
}

/* EQUIPMENT  */
.equipmentContainer {
    display: flex;
    justify-content: center;
    height: 400px;
    min-width: 90vw;
}
.equipmentContainerLeft {
    height: 100%;
    width: auto;
}
.equipmentContainerRigth {
    width: 30%;
}

/* ITEM LIST */

.itemsContainer{
    width: 95vw;
}

#listaDeItems{
    padding: 5px;
}
#itemList {
    height: auto;
}

.addItemBlock {
    padding: 5px ;
}

.listedItem {
    
}

.stuffs {
    display: flex;
    flex-direction: column;  
}
.teasures {
    height: 50px;
}

/* POTIONS BLOCK */
.potionsBlock {
    display: flex;
    flex-direction: column;
    height: auto;
}
.potionList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.potionList ul {
    margin: 0px;
    padding: 0px 5px; 
    display: flex;
    flex-direction: column;
}
.potions {
    height: 25px;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 0px;
    margin: 0px;

}
ul li input[type="number"]{
    width: 40px;
    margin: 0px;
    display: flex;
    text-align: center;
}
.actionUse {
}
.potionActions {
    display: flex;
    justify-content: center
    
}

/* PROVISIONS */
.provisions {

}

/* ENCOUNTERS  */
.encountersContainer {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
    justify-content: center;
}
.encountersBlock {
    width: 150px;
}
.encounterStats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20x;
}
.addEncounterBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
#addEncounterButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plusSymbol{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 17px;
    width: 20px;
    border-radius: 50px;
    border: 3px solid whitesmoke;
}

/* ACTION BUTTONS  */

nav {
    position: sticky;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.optionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.actionButtons{
    font-weight: bolder;
    height: 40px;
    cursor: pointer;
}
.diceContainer{
    display: flex;
}
.optionsContainer .diceContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: #ffb300;
    border-radius: 8px;
}
.dice {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}